@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
 /*font-family: 'Roboto', sans-serif;
 font-family: 'Lato', sans-serif;*/

 
body {
  margin: 0 auto;
  background-image: url('img/background.png');
}

header {
	text-align: center;
}

header img {
	margin: 15px 0px 0;
	width: 15%;
}

.content {
	margin-top: 20px;
}

.filters {
  font-family: 'Lato', sans-serif;
  background: #2B4D86;
	border: none;
	border-radius: 5px;
	color: #ffffff;
  padding: 5px 5px 10px 5px;
  font-size: 12px;
}

form {
  width: 98%;
  border-radius: 5px;
  text-align: center;
  font-family: 'Lato' sans-serif;
  font-size:12px;
}


h4 {
  margin-left: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;  
}

.options-of-filters{
  background: #2B4D86;
	border: none;
	border-radius: 5px;
	color: #ffffff;
  padding: 5px 5px 10px 5px;
  font-size: 12px;
  margin-left:50px;
}

.input-search-text{
  border: 1px solid #e8e5e0;
	border-radius: 5px;
  padding: 5px 5px 10px 5px;

}

.btn-search {
    background-color: #2B4D86;
    border: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 5px 5px 10px 5px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}


.blog-card {
  display: flex;
  flex-direction: row;
  background: #F6F5F5;
  box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  overflow: hidden;

}

.card-link {
  color: #2B4D86;
}


.grid-ListFilter{
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px; 
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.card-link:hover .post-title {
  transition: color 0.3s ease;
  transform: scale(1.2);
  color: #e04f62;
}
.card-link:hover .post-image {
  transition: opacity 0.3s ease;
  opacity: 0.9;
}


.post-image {
  transition: opacity 0.3s ease;
  display: block;
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.article-details {
  padding: 1.5rem;
}

.post-category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.0625rem;
  margin: 0 0 0.75rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: 0.125rem solid #ebebeb;
}

.post-title {
  font-family: 'Lato', sans-serif;
 transition: color 0.3s ease;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #121212;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

.candy{
  font-size:11px;
  font-family: 'Lato', sans-serif;
}

.pokemon-type{
background-color: #b97f34;
color: #fff;
text-align: center;
padding-left: 10px;
padding-right: 10px;
font-size: 13px;
font-family: 'Roboto', sans-serif;

}
.post-author {
  font-size: 0.875rem;
  line-height: 1;
  margin: 1.125rem 0 0 0;
  padding: 1.125rem 0 0 0;
  border-top: 0.0625rem solid #ebebeb;
}



@media only screen and (max-width: 414px){
    
body {
  margin: 0 auto;
}

header img {
	margin: 15px 0px 20px;
	width: 50%;
}
  .grid-ListFilter {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 5px; 
    grid-template-columns: auto;
  }

header {
	text-align: center;
}

}


