@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  box-sizing: border-box;
}
body {
  background-color: #BCF35D;
  padding: 20px 0 28px 0;
  margin: 0;
}
h1{
  color: #164A99;
  font-family: Carter One;
  text-align: center;
}
.cbx{
  text-align: center;
  margin: 15px;
}

.grid-ListFilter{
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px; 
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.btn-types button{
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}
.blog-card {
  
  text-align: center;
}
img {
  
}
.card-link {
  box-sizing: border-box;
  background-color: #F5F6C3;
  margin: 1px 19% 13% 18%;
  border: 0;
  border-radius: 23px;
  overflow: hidden;

  /* max-width: 650px;
  padding: 20px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden; */
}

.card-link h3 {
  margin: 0 0 6px 0;
}

.post-image{
  
 }

 .post-name{
   color: #164A99;
   font-family: Carter One;
   font-size: 130%;
   font-weight:bold;
   margin: 0 0 0 0;
 }
  .post-number{
  margin: 0;
  padding: 0;
  font-size: 100%;
   }

.post-type{
  margin: 0;
  padding: 0;
  font-size: 100%;
   
  }
.post-cady-count{
  margin: 0;
  padding: 0;
  font-size: 100%;
 }
.article-details {
  color: #5DAFF3;
  }
  @media only screen and (max-width: 414px){
    
    body {
      margin: 0 auto;
    }
    
    header img {
      margin: 15px 0px 20px;
      width: 50%;
    }
      .grid-ListFilter {
        display: grid;
        grid-row-gap: 10px;
        grid-column-gap: 5px; 
        grid-template-columns: auto;
      }
    
    header {
      text-align: center;

    }
    
    }
